h1 {
  color:deepskyblue;
}
p {
  color: indigo;
  text-align:center;
  font-style: normal;
  font-weight:800;
  font-family: sans-serif;
  font-size: 16px;
  line-height: normal;
}
li {
  color: indigo;
  text-align: left;
  font-style:normal;
  font-weight: 300;
  font-family: sans-serif;
  font-size: 16px;
  line-height: normal;
}
ol {
  text-align: center;
}
